<!DOCTYPE html>
  <html>
    <head>
      <title>Home | Subco App</title>
    </head>
    <body>
      <h1>Subco App</h1>
      <p>
        This is the home page for the Subco application.
      </p>
    </body>
</html>